---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import CarolGrid from '../components/CarolGrid.astro'
import Navigation from '../components/Navigation.astro'
import ChristmasInvite from '../components/ChristmasInvite.astro'
---

<Layout
  title="Carols in the Park"
  description="Come join us for a festive evening of Christmas carols and uplifting musical performances as we celebrate the holiday season together!"
>
  <main transition:animate="fade">
    <Hero />
    <CarolGrid />
    <ChristmasInvite />
  </main>
</Layout>
