---
import Layout from '../layouts/Layout.astro'
import WhyChristmasContent from '../components/WhyChristmasContent.astro'
import Navigation from '../components/Navigation.astro'
---

<Layout title="Why Christmas? - Shore Baptist Church">
  <main class="text-white">
    <WhyChristmasContent />
  </main>
</Layout>
