---
import Layout from '../layouts/Layout.astro'
import WhyChristmasContent from '../components/WhyChristmasContent.astro'
import Navigation from '../components/Navigation.astro'
---

<Layout title="Why Christmas? - Shore Baptist Church">
  <Navigation />
  <main
    class="min-h-screen bg-gradient-to-b from-gray-800 to-gray-700 text-white"
  >
    <WhyChristmasContent />
  </main>
</Layout>
