---
interface Props {
  title: string
  id: string
}

const { title, id, ...rest } = Astro.props
---

<a
  href={`/carols/${id}`}
  class="block p-6 transition-shadow bg-white rounded-lg shadow-md cursor-pointer hover:shadow-lg bg-opacity-100"
  {...rest}
>
  <h3 class="mb-2 text-xl font-semibold text-holiday-green carol-title">
    {title}
  </h3>
  <p class="text-gray-600">Click to view lyrics</p>
</a>
