---
import { Image } from 'astro:assets'
import shoreBaptistLogo from '../../public/Shore_Baptist_40th_Anniversary_.png'
---

<footer class="bg-white py-8 mt-auto">
  <div class="container mx-auto px-4">
    <div class="flex flex-col items-center justify-center">
      <a
        href="https://www.shorebaptist.org.nz/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Image
          src={shoreBaptistLogo}
          alt="Shore Baptist Church"
          class="w-48 mb-4"
          width={400}
          height={200}
          format="webp"
          quality={100}
        />
      </a>
      <p class="text-gray-600 text-sm text-center">
        Carols in the Park is presented by <a
          href="https://www.shorebaptist.org.nz/"
          class="text-black font-bold hover:underline"
          target="_blank"
          rel="noopener noreferrer">Shore Baptist Church</a
        >
      </p>
    </div>
  </div>
</footer>
