---
import { Image } from 'astro:assets'
import carolsLogo from '../../public/carols-logo.png'
---

<div class="container px-4 py-16 mx-auto text-center">
  <Image
    src={carolsLogo}
    alt="Carols in the Park"
    class="mx-auto mb-8 w-full max-w-xl"
    width={600}
    height={200}
    format="webp"
    quality={80}
  />
  <div class="mb-2 text-2xl text-yellow-400">
    6:00pm-8:00pm, Sunday 14th December
  </div>
  <div class="mb-8 text-xl">
    <a
      class="text-red-400 underline hover:text-green-500"
      href="https://www.google.com/maps/dir//Albany,+Auckland+0632/@-36.7267242,174.6264551,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x6d0d3b9571781933:0xfac84114e265ba1f!2m2!1d174.7088562!2d-36.7267526?entry=ttu&g_ep=EgoyMDI1MDkxMC4wIKXMDSoASAFQAw%3D%3D"
      target="_blank"
      rel="noopener noreferrer">Albany Lakes Civic Park</a
    >
  </div>
  <p class="mx-auto max-w-2xl text-gray-300">
    Join us for a magical evening of Christmas carols under the stars. Bring
    your family, friends, and a picnic blanket!
  </p>
</div>
